$darkThemeColor: #333333;
$highlightColor: #F37121;

// Layout
// ----------------------------------------

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.navbar, .footer-bar {
  border-radius: 0;
  background-color: $darkThemeColor;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;

  a, li > a {
    color: white;
    &:focus, &:hover {
      color: #BBB;
      background-color: inherit;
      text-decoration: none;
    }
  }
}

.navbar {
  margin-bottom: 0;
}

main {
  padding: 2em 0;
}

.footer-bar {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  line-height: 3.5em;
}

// Companies Table
// ----------------------------------------

.companies-table {
  .form-control {
    margin: 2em 0;
  }
  table {
    width: 100%;

    td, th {
      padding: 0.5em;
      font-size: 0.8em;
      span {
        cursor: pointer;
      }
    }
    tbody > tr, {
      border-top: 0.5px solid #ddd;
    }
    .active-row {
      border-color: $highlightColor;
      background-color: $highlightColor;
      color: white;
      & + tr {
        border-color: $highlightColor;
      }
    }
  }
}

// General
// -------------------------------------------

.hidden {
  visibility: hidden;
  display: initial !important; // !important needed to override bootstrap's !important
}

.order-caret {
  margin-left: 3px;
  color: $highlightColor;
}

// Media Queries
// -------------------------------------------

@media screen and (min-width: 768px) {
  .companies-table {
    .form-control {
      width: auto;
    }
    table {
      td, th {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .order-caret {
    display: block;
  }
}
