$darkThemeColor: #333333;
$highlightColor: #F37121;

// Layout
// ----------------------------------------

app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.navbar, .footer-bar {
  background-color: $darkThemeColor;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  a {
    color: white;
  }
}

.navbar {
  border-radius: 0;
}

main {
  padding: 2em 0;
}

.footer-bar {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  line-height: 3.5em;
  a:hover {
    color: white;
    text-decoration: none;
  }
}

// Companies Table
// ----------------------------------------

.companies-table {
  .form-control {
    width: auto;
    margin: 2em 0;
  }
  table {
    width: 100%;

    td, th {
      padding: 0.5em;
      span {
        cursor: pointer;
      }
    }
    tbody > tr, {
      border-top: 0.5px solid #ddd;
    }
    .active-row {
      background-color: $highlightColor;
      color: white;
    }
  }
}

// General
// -----------------------------------------

.hidden {
  visibility: hidden;
  display: initial !important; // !important needed to override bootstrap's !important
}

.order-caret {
  margin-left: 3px;
  color: $highlightColor;
}
