$darkThemeColor: #333333;
$highlightColor: #F37121;

// Main Layout
// ----------------------------------------

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-bottom: 4em;
  min-height: 100%;
}

.navbar {
  margin-bottom: 0;
}
.navbar-right {
  display: none;
}

main {
  padding: 2em 0;
}

.footer-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 3.5;
}

// General
// -------------------------------------------

.theme-bar  {
  border-radius: 0;
  background-color: $darkThemeColor;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.theme-bar-link {
  color: white;
  &:focus, &:hover {
    color: #BBB;
    background-color: inherit !important; // override bootstrap
    text-decoration: none;
  }
}

.hidden {
  visibility: hidden;
  display: initial !important; // override bootstrap
}

hr {
  margin: 0.5em 0;
}

// custom toast needs !important to override
.toast-adding {
  background-image: none !important;
  background-color: $highlightColor !important;
}

// Collapsing inputs
// --------------------------------------

.collapse-inputs {
  display: flex;
  flex-direction: column;
  & > * {
    margin: 0.5em 0;
  }
}

.add-stock-form {
  display: flex;
  flex-direction: row;

  .form-control {
    margin-right: 0.5em;
  }
  .btn {
    min-width: 7em;
    max-height: 2.5em;
  }
}

#filter-input {
  width: 100%;
}

// Company quotes table
// ----------------------------------------

.quotes-table {
  width: 100%;

  th {
    font-size: 0.9rem;
  }
  td {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  td, th {
    padding: 0.5em;
    min-width: 60px;
    max-width: 120px;
    span {
      cursor: pointer;
    }
  }
  tbody > tr, {
    border-top: 0.5px solid #ddd;
  }
  .active-row {
    border-color: $highlightColor;
    background-color: $highlightColor;
    color: white;
    & + tr {
      border-color: $highlightColor;
    }
  }
  .currency-label {
    display: none;
  }
  .order-caret {
    display: block;
    margin-top: 3px;
    color: $highlightColor;
  }
}

// Media Queries
// -------------------------------------------

@media (min-width: 768px), (orientation: landscape) {
  .quotes-table {
    td, th {
      font-size: 1.4rem;
      min-width: 100px;
      max-width: none;
    }
    .currency-label {
      display: inline;
    }
    .order-caret {
      display: inline;
    }
  }
  hr {
    margin: 1.5em 0;
  }
}

@media (min-width: 768px) {
  .collapse-inputs {
    flex-direction: row;
    justify-content: space-between;
    .form-control {
      display: inline;
    }
  }
  #filter-input {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .navbar-right {
    display: inline;
  }
}
