$darkThemeColor: #333333;
$highlightColor: #F37121;

// Main Layout
// ----------------------------------------

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.navbar, .footer-bar {
  border-radius: 0;
  background-color: $darkThemeColor;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;

  a, li > a {
    color: white;
    &:focus, &:hover {
      color: #BBB;
      background-color: inherit;
      text-decoration: none;
    }
  }
}

.navbar {
  margin-bottom: 0;
}
.navbar-right {
  display: none;
}

main {
  padding: 2em 0;
}

.footer-bar {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  line-height: 3.5em;
}

// Collapsing inputs
// --------------------------------------

.collapse-inputs {
  display: flex;
  flex-direction: column;
  & > * {
    margin: 0.5em 0;
  }
}

.add-stock-form {
  display: inline;
  form {
    display: flex;
    flex-direction: row;
  }
  .form-control {
    display: inline;
    margin-right: 0.5em;
  }
  .btn {
    min-width: 7em;
    max-height: 2.5em;
  }
}

#filter-input {
  width: 100%;
}

// Stock price history chart

.history-chart {
  height: 20em;
}

// Company quotes table
// ----------------------------------------

.quotes-table table {
  width: 100%;

  td, th {
    padding: 0.5em;
    min-width: 70px;
    max-width: 120px;
    span {
      cursor: pointer;
    }
  }
  th {
    font-size: 0.65em;
  }
  td {
    font-size: 0.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  tbody > tr, {
    border-top: 0.5px solid #ddd;
  }
  .active-row {
    border-color: $highlightColor;
    background-color: $highlightColor;
    color: white;
    & + tr {
      border-color: $highlightColor;
    }
  }
}

// General
// -------------------------------------------

.hidden {
  visibility: hidden;
  display: initial !important; // !important needed to override bootstrap's !important
}

.order-caret {
  margin-left: 3px;
  color: $highlightColor;
}

hr {
  margin: 0.5em 0;
}

// custom toast needs !important to override
.toast-adding {
  background-image: none !important;
  background-color: $highlightColor !important;
}

// Media Queries
// -------------------------------------------

@media (min-width: 768px), (orientation: landscape) {
  .quotes-table table {
    td, th {
      font-size: 1em;
      min-width: 100px;
      max-width: none;
    }
  }
  hr {
    margin: 1em 0;
  }
}

@media (min-width: 768px) {
  .history-chart {
    height: auto;
  }
  .collapse-inputs {
    flex-direction: row;
    justify-content: space-between;
    .form-control {
      display: inline;
    }
  }
  #filter-input {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .navbar-right {
    display: inline;
  }
}
