$darkThemeColor: #333333;
$highlightColor: #F37121;

// Main Layout
// ----------------------------------------

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-bottom: 4em;
  min-height: 100%;
}

main {
  padding: 2em 0;
}

// General
// -------------------------------------------

.theme-bar  {
  border-radius: 0;
  background-color: $darkThemeColor;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;

  &-link {
    color: white;
    &:focus, &:hover {
      color: #BBB;
      background-color: inherit !important; // override bootstrap
      text-decoration: none;
    }
  }
}

.hidden {
  visibility: hidden;
  display: initial !important; // override bootstrap
}

hr {
  margin: 0.5em 0;
}

// custom toast needs !important to override
.toast-adding {
  background-image: none !important;
  background-color: $highlightColor !important;
}

// Collapsing inputs
// --------------------------------------

.collapse-inputs {
  display: flex;
  flex-direction: column;
  & > * {
    margin: 0.5em 0;
  }
}

#filter-input {
  width: 100%;
}

// Media Queries
// -------------------------------------------

@media (min-width: 768px), (orientation: landscape) {
  hr {
    margin: 1.5em 0;
  }
}

@media (min-width: 768px) {
  .collapse-inputs {
    flex-direction: row;
    justify-content: space-between;
    .form-control {
      display: inline;
    }
  }
  #filter-input {
    width: 50%;
  }
}
