<table>
  <thead>
    <tr>
      <th ng-click="$ctrl.orderByField='symbol'; $ctrl.orderReverse = !$ctrl.orderReverse">
        <span>Symbol</span>
        <span ng-class="{'hidden': $ctrl.orderByField !== 'symbol'}">
          <span ng-bind="$ctrl.orderReverse ? '&#9660' : '&#9650'" class="order-caret"></span>
        </span>
      </th>
      <th ng-click="$ctrl.orderByField='name'; $ctrl.orderReverse = !$ctrl.orderReverse">
        <span>quote Name</span>
        <span ng-class="{'hidden': $ctrl.orderByField !== 'name'}">
          <span ng-bind="$ctrl.orderReverse ? '&#9660' : '&#9650'" class="order-caret"></span>
        </span>
      </th>
      <th ng-click="$ctrl.orderByField='currentPrice'; $ctrl.orderReverse = !$ctrl.orderReverse">
        <span>Current Price (USD)</span>
        <span ng-class="{'hidden': $ctrl.orderByField !== 'currentPrice'}">
          <span ng-bind="$ctrl.orderReverse ? '&#9660' : '&#9650'" class="order-caret"></span>
        </span>
      </th>
      <th ng-click="$ctrl.orderByField='marketCap'; $ctrl.orderReverse = !$ctrl.orderReverse">
        <span>Market Cap (USD)</span>
        <span ng-class="{'hidden': $ctrl.orderByField !== 'marketCap'}">
          <span ng-bind="$ctrl.orderReverse ? '&#9660' : '&#9650'" class="order-caret"></span>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="quote in $ctrl.quotes
        | orderBy : ['!' + $ctrl.orderByField, $ctrl.orderByField] : $ctrl.orderReverse
        | filter : $ctrl.filterByNameOrSymbol($ctrl.filter)"
        ng-click="$ctrl.setActiveStock(quote.symbol)"
        ng-class="{'active-row': quote.symbol === $ctrl.getActiveStock()}">
      <td><span ng-bind="quote.symbol"></span></td>
      <td><span ng-bind="quote.name || 'N/A'" ng-attr-title="{{quote.name}}"></span></td>
      <td><span ng-bind="quote.currentPrice ? (quote.currentPrice | currency:'') : 'N/A'"></span></td>
      <td><span ng-bind="quote.marketCapFormatted || 'N/A'"></span></td>
    </tr>
  </tbody>
</table>
