<input ng-model="searchString" type="text" placeholder="Filter companies" />
<table class="table">
  <thead>
    <tr>
      <th ng-click="$ctrl.orderByField='symbol'; $ctrl.orderReverse = !$ctrl.orderReverse">
        Symbol
        <span ng-show="$ctrl.orderByField === 'symbol'">
          <span ng-show="!$ctrl.orderReverse">&#9650</span>
          <span ng-show="$ctrl.orderReverse">&#9660</span>
        </span>
      </th>
      <th ng-click="$ctrl.orderByField='name'; $ctrl.orderReverse = !$ctrl.orderReverse">
        Company Name
        <span ng-show="$ctrl.orderByField === 'name'">
          <span ng-show="!$ctrl.orderReverse">&#9650</span>
          <span ng-show="$ctrl.orderReverse">&#9660</span>
        </span>
      </th>
      <th ng-click="$ctrl.orderByField='currentPrice'; $ctrl.orderReverse = !$ctrl.orderReverse">
        Current Price (USD)
        <span ng-show="$ctrl.orderByField === 'currentPrice'">
          <span ng-show="!$ctrl.orderReverse">&#9650</span>
          <span ng-show="$ctrl.orderReverse">&#9660</span>
        </span>
      </th>
      <th ng-click="$ctrl.orderByField='marketCap'; $ctrl.orderReverse = !$ctrl.orderReverse">
        Market Cap (USD)
        <span ng-show="$ctrl.orderByField === 'marketCap'">
          <span ng-show="!$ctrl.orderReverse">&#9650</span>
          <span ng-show="$ctrl.orderReverse">&#9660</span>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="company in $ctrl.companies
        | orderBy : $ctrl.orderByField : $ctrl.orderReverse
        | filter : $ctrl.filterByNameOrSymbol(searchString)"
        ng-click="$ctrl.setActiveStock($index)">
      <td ng-bind="company.symbol"></td>
      <td ng-bind="company.name"></td>
      <td ng-bind="company.currentPrice"></td>
      <td ng-bind="company.marketCapFormatted"></td>
    </tr>
  </tbody>
</table>
