<input ng-model="$ctrl.searchString" type="text" placeholder="Filter companies" />
<table class="table">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Company Name</th>
      <th>Current Price (USD)</th>
      <th>Market Cap (USD)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="company in $ctrl.companies"
        ng-click="$ctrl.setActiveStock($index)"
        ng-show="$ctrl.isNotFiltered($index)">
      <td ng-bind="company.symbol"></td>
      <td ng-bind="company.name"></td>
      <td ng-bind="company.currentPrice"></td>
      <td ng-bind="company.marketCap"></td>
    </tr>
  </tbody>
</table>
